@page
@model SkillLinkCMS.Pages.Admin.IndexModel
@using SkillLinkCMS.Models;
@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>

<h2>User List</h2>
<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Featured</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="profileId" value="@user.Profile.Id" />
                        <input type="checkbox" name="isFeatured" checked="@user.Profile.FeaturedListing.IsFeatured" onchange="this.form.submit()" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
