@page "{id:int}"
@model SkillLinkCMS.Pages.Profile.ViewModel
@{
}

<h2>@Model.Profile.Name</h2>
<p>@Model.Profile.Bio</p>
<p>Skill: @Model.Profile.Category.Name</p>
<p>City: @Model.Profile.City.Name</p>
